<div class="footer">
	<div class="ui grid">
		<div class="three wide column">
		</div>
	  	<div class="three wide column">
	  		<div class="column">
	  			<h4>Tjenester</h4>
		  		<p>Språkvanskar</p>
		  		<p>Talevanskar</p>
		  		<p>Spise og svelgvanskar (dysfagi)</p>
		  		<p>Stemmevanskar</p>
		  		<p>LSVT Loud</p>
		  		<p>Taleflytvanskar</p>
	  		</div>
	  	</div>
	  	<div class="three wide column">
	  		<div class="column">
	  			<h4>Kontakt</h4>
				<p>Ringvoldvegen 11</p>
				<p>2822 Bybrua</p>
				<p><a href="tel:90198017">Tel: 90198017</a></p>
				<a href="mailto:webmaster@example.com">e-post: Sølvi Karin Halleland</a>
				<p>e-post: skhalleland@gmail.com</p>
	  		</div>
	 	</div>
	  	<div class="three wide column">
	  	<h4>Social Media</h4>
	  	<a href="https://www.facebook.com/logopedskhalleland/">
	  		<i class="facebook icon"></i>
	  	</a>
	  	<a href="https://www.instagram.com">
	  		<i class="instagram icon"></i>
	  	</a>
		</div>
	  <div class="three wide column">Org.nr. 824 591 202</div>
	</div>
	<!-- <p>Org.nr. 824 591 202</p> -->
</div>
</body>
</html>