<div class="footer">
	<div class="ui grid">
		<div class="three wide column">
		</div>
	  	<div class="three wide column">
	  		<div class="column">
	  			<h4>Services</h4>
		  		<p>Teletherapy</p>
		  		<p>Speech Therapy</p>
		  		<p>Summer</p>
	  		</div>
	  	</div>
	  	<div class="three wide column">
	  		<div class="column">
	  			<h4>Kontakt</h4>
				<p>Ringvoldvegen 11</p>
				<p>2822 Bybrua</p>
				<p><a href="tel:90198017">Tel: 90198017</a></p>
				<a href="mailto:webmaster@example.com">e-post: Sølvi Karin Halleland</a>
				<p>e-post: skhalleland@gmail.com</p>
	  		</div>
	 	</div>
	  	<div class="three wide column">
	  	<h4>Social Media</h4>
		</div>
	  <div class="three wide column">Org.nr. 824 591 202</div>
	</div>
	<!-- <p>Org.nr. 824 591 202</p> -->
</div>
</body>
</html>