<!DOCTYPE html>
<html>
<head>
	<title>Logoped Sølvi K. Halleland</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="icon" href="/stylesheets/favicon.ico">
	<script defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv8w0pl7LFun0nE7aKiEX44lYOLeQzQWA&callback=initMap&libraries=&v=weekly"></script>
    <script src="/index.js"></script>
</head>
<body>
<div class="ui borderless menu">
	<div class="ui borderless container">
		<div class = "borderless header item">
			<i class="comments icon"></i>
			<a href="/">Logoped Sølvi K. Halleland MNLL</a>
		</div>
		<div class="right menu">
			<a href="/services" class="item">Tjenester</a>
			<a href="/contact" class="item">Kontakt</a>
			<a href="/about" class="item">Om Meg</a>
			<a href="/newpatient" class="item">Ny Kunde</a>
			<a href="/feedback" class="item">Tilbakemeldinger</a>
			<a href="/blog" class="item">Blog</a>
		</div>
	</div>
</div>
