<%- include("partials/header")%>
<div class="ui main text container">
	<div class="ui huge header">Om Meg</div>

	<p>Relevant utdanning er fullført Erfaringsbasert master i logopedi ved NTNU i Trondheim våren 2018. Grunnutdanninga er førskulelærarutdanning ved Høgskulen i Bergen våren 1999. Har vore busett i Gjøvik sidan februar 2018, då eg blei tilsett som logoped ved Gjøvik læringssenter, med arbeidsstad i Sykehuset Innlandet - Fysikalsk medisinsk rehabiliteringsavdeling Gjøvik (Solås) og medisinsk sengepost og intensivavdeling.  </p>

</div>
<%- include("partials/footer")%>
