<%- include("partials/header")%>
<div class="ui main text container">
	<div class="ui huge header">Om Meg</div>

	<h1>Praksis</h1>
	<p>Eg har praktisert som logoped sidan februar 2018. 30. november 2020 starta eg fulltid som privatpraktiserande logoped. Frå februar 2018 til og med november 2020 hadde eg arbeidsstad i spesialisthelsetenesta og ved sengepost i Sykehuset Innlandet Gjøvik. Nærare bestemt 50% ved avdeling for fysikalsk medisin og rehabilitering (Solås) og 50% ved medisinsk avdeling på sjukehuset (medisinsk sengepost og intensivavdeling). Eg var formelt tilsett i 100% stilling ved Gjøvik læringssenter.  </p>

	<h1>Utdanning</h1>
	<p>Relevant utdanning er fullført Erfaringsbasert master i logopedi ved NTNU i Trondheim våren 2018. Grunnutdanninga er førskulelærarutdanning ved Høgskulen i Bergen våren 1999. Har vore busett i Gjøvik sidan februar 2018, då eg blei tilsett som logoped ved Gjøvik læringssenter, med arbeidsstad i Sykehuset Innlandet - Fysikalsk medisinsk rehabiliteringsavdeling Gjøvik (Solås) og medisinsk sengepost og intensivavdeling.  </p>

	<h1>Sertifiseringar</h1>
	<ul>
		<li>LSVT LOUD (oktober 2020)</li>
		<li>Elektrostimulering med VitalStim (mai 2019)</li>
	</ul>

</div>
<%- include("partials/footer")%>
