<%- include("partials/header")%>
<div class="ui main text container">
	<h1>Ta Kontakt</h1>

	<i class="location arrow icon"></i>
	<h1>Besøks- og postadresse</h1>
	<div>
		<p>Sølvi Karin Halleland</p>
		<p>Ringvoldvegen 11</p>
		<p>2822 Bybrua</p>
	</div>
	 <div id="map"></div>
	<i class="phone icon"></i>
	<p>Tlf. 90198017</p>
	<i class="envelope icon"></i>
	<p>e-post: skhalleland@gmail.com</p>
	<p>Org.nr. 824 591 202</p>
</div>
<%- include("partials/footer")%>
