<%- include("partials/header")%>
<div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="/video/woods.mp4" type="video/mp4">
    </video>
</div>
<!-- <div class="ui main text container">
	<h1>Kommunikasjonsvansker?</h1>
	<a href="services">Vi hjelper deg!</a> -->
	<!-- <img src="https://images.unsplash.com/photo-1516305262311-6a47e9f03a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"> -->
<!-- </div> -->
<div class="homebanner">
	<h1>Kommunikasjonsvansker?</h1>
	<a href="services"><button class="ui red button"> Vi hjelper deg!</button></a>
</div>
<%- include("partials/footer")%>
