<%- include("partials/header")%>
<div class="ui main text container">
	<div class="ui huge header">Ny Kunde</div>
	<h2>Kva må du gjere dersom du treng logoped?</h2>
	<p>Det er kommunen sitt ansvar å skaffe logoped til born og vaksne som har krav på det (etter lov…). Dersom kommunen ikkje har logoped eller ikkje har kapasitet, kan lege sende tilvising (henvisning) til privatpraktiserande logoped. I dei fleste tilfella må tilvisinga innehalde beskriving frå legespesialist og diagnose. Ved taleflytvanskar (stamming og løpsk tale) er det tilstrekkeleg med tilvising frå fastlege…. Dersom tilvising føreligg blir timane dekka av er Tilbod om logoped dekkes av…  </p>
</div>
<%- include("partials/footer")%>
