<%- include("partials/header")%>
<div class="ui main text container">
	<div class="ui huge header">Ny Kunde</div>
	<h1>Kva må du gjere dersom du treng logoped?</h1>
	<p>Du treng tilvising frå lege før behandlinga kan ta til. I dei fleste tilfella må tilvisinga innehalde </p>
	<ul>
		<li>Dato for legens vurdering.</li>
		<li>Helserelatert diagnose (i utgangspunktet frå spesialist).</li>
		<li>Namn/underskrift og helsepersonellnummer på lege. </li>
		<li>Ved stemmevanskar ligg diagnose og beskriving frå ØNH-spesialist til grunn for behandlinga.  </li>
		<li>Ved taleflytvanskar (stamming og løpsk tale) er det tilstrekkeleg med diagnose og tilvising frå fastlege.</li>
	</ul>
	<p>Eg har direkteoppgjer med Helfo (Helseøkonomiforvaltninga). Det betyr at du som kunde ikkje skal betale noko, eg får betaling direkte frå Helfo. Har du ikkje tilvising må du dekke utgiftene sjølve. Prisar finn du under eiga fane.  </p>
	<p>Det er kommunen sitt ansvar å skaffe logoped til born og vaksne som har krav på det (Opplæringslova, kapittel 4A-2). Dersom kommunen ikkje har logoped eller ikkje har kapasitet, dekker Folketrygda utgifter til behandling hos privat logoped (Folketrygdlova kap. 5 § 5-10). </p>

	<h1>Bestilling og avbestilling av timar</h1>
	<ul>
		<li>Time avtalast direkte med meg via telefon. </li>
		<li>Endring/avbestilling av time må skje seinast innan 24 timar før oppsett tid.</li>
		<li>Eg får dessverre ikkje dekt timar der du ikkje møter, og belastar deg difor med ein eigendel på kr 500,- dersom du ikkje møter og ikkje har avbestilt innan nemnde frist (gjeld ikkje ved oppstått sjukdom).  </li>
	</ul>
</div>
<%- include("partials/footer")%>
