<%- include("partials/header")%>
<div class="ui main text container">
	
	<div class="ui huge header">Tjenester</div>
	<h2>Smittevernreglar og ein til ein konsultasjonar.</h2>
	<p>I min praksis held eg meg til gjeldande smittevernreglar frå Helsedirektoratet. Norsk Logopedlag (NLL) har og utarbeida eigne smittevernråd for yrkesgruppa. I samband med pandemiutbrotet blei det opna for videokonsultasjonar, og vil bli eit tilbod etterkvart. </p>

	<h2>Språkvanskar</h2>
	<p>Språkvanskar (afasi) inneber i hovudsak vanskar med å kommunisere munnleg og skriftleg. Det kan vere vanskar med å uttrykke seg (ekspressiv afasi), og/eller vanskar med å forstå språk (impressiv afasi). Døme på ekspressive afasi er vanskar med å finne ord og lyd- og ordforvekslingar. Impressiv afasi kan vise seg som vanskar med å forstå/oppfatte enkeltlydar, ord og setningar. </p>
	
	<h2>Talevanskar</h2>
	<p>Talevanskar/talemotoriske vanskar skuldast heilt eller delvis lamming av muskulaturen i taleapparatet (dysartri), eller svikt i nervesignala frå hjernen til musklane som styrer taleapparatet (taleapraksi). Dysartri kan delast i tre grader, lett (forståeleg, men påfallande tale), moderat (varierande forståeleg tale), og stor dysartri/anartri (ingen forståeleg tale). Taleapraksi fører til vanskar med viljestyrte og målbevisste bevegelsar, slik at det blir vanskeleg å uttale lydar og ord riktig. Orda kan ha ulik grad av lydforvekslingar, frå forståelege ord, til ord som ikkje kan tolkast. Lydforvekslingar kan og oppstå grunna afasi, og kan vere vanskeleg å skilje klårt frå taleapraksi. Taleappratet består av leppene, tennene, tunga og svelget.  </p>

	<h2>Stemmevanskar</h2>
	<p>Stemmevanskar kan ha sitt opphav frå spente musklar i nakke, hals, strupe eller kjeve, og pusten kan vere anstrengd (funksjonelle stemmevanskar). Vanskane kan vise seg som avvikande stemmekvalitet (svak, hes, ru, luftfylt, pressa eller skjelvande stemme). Det kan og vere smerter eller ubehag i stemmeapparatet. Nokre har mista stemma heilt (afoni). Stemmevanskar kan skuldast misbruk/feil bruk av stemma, eller ha opphav i psykiske årsaker. Ved undersøking hos øre- nase halsspesialist vil det ikkje vise synlege skadar på stemmebanda.  
	Funksjonelle stemmevanskar kan ved overbelastning føre til synlege endringar på stemmebanda (funksjonelt-organiske stemmevanskar). Endringane på stemmebanda kan vise seg som hevelse eller stemmebandsknutar.  
	Ein annan kategori er organiske stemmevanskar. Organiske stemmevanskar kan vise seg som utvekster på stemmebanda, lamming av eitt eller begge stemmebanda, strupekreft eller etter ytre skade som slag mot strupen. 
	Ved svikt i nervesignala som blant anna styrer stemmebanda oppstår det nevrologiske stemmevanskar. Vanskane kan oppstå etter skade, sjukdom eller ved svulstar. Døme er recurrenseparese eller stemmevanskar som følgje av Parkinsons sjukdom (PS), amyotrofisk lateralsklerose (ALS), eller Multippel Sklerose (MS).  
	</p>

	<h2>Spise og svelgvanskar (dysfagi)</h2>
	<p>Dysfagi er vanskar eller ubehag med å tygge og/eller svelge mat og drikke. Dysfagi oppstår ofte etter hjerneslag, men også ved andre sjukdomar og skadar. Ein av konsekvensane av dysfagi er påfølgjande lungebetennelse (aspirasjonspneumoni). Aspirasjonspneumoni kan oppstår etter feilsvelging av mat og drikke (mat og drikke havner i lungene). Viktige teikn/symptom på feilsvelging er behov for hoste og kremting i samband med inntak av føde. I nokre tilfelle er det slik at personen ikkje kjenner at mat/drikke kjem feil, grunna manglande kjensle i strupen. I behandlinga av dysfagi er eg sertifisert for å bruke nevromuskulær elektrisk stimulering (NMES) med VitalStim. For utfyllande informasjon om dysfagi viser eg til ein artikkel på afasiforbundet si nettside: <a href="https://afasi.no/2018/06/03/hva-er-dysfagi/">HVA ER DYSFAGI</a>
	</p>


</div>
<%- include("partials/footer")%>
